{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header_text{
            background-color: beige;
            color: #103E2E;
            display: flex;
            gap: 2rem;
        }
        body{
            background-image: url("{% static 'img/example.png'%}");
            background-repeat: no-repeat;
            background-size: cover;
    
        }
    </style>
</head>
<body>
    <div class="header_text">
        <img width="200px" height="auto" src="{% static 'img/example.png' %}" alt="My image">
        <h1>This is simple django tutorial in use of static files</h1>
    </div>
</body>
</html>